@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--JL-default: #073948;
	--JL-default-hover: #0b556c;
	--JL-default-hover-light: #42656f;
	--scrollbar-thumb: #cccccc;
	--scrollbar-thumb-hover: #a8a8a8;
	--scrollbar-track: #f7f7f7;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background-color: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thumb);
	border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--scrollbar-thumb-hover);
}

.sidebar::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

.sidebar::-webkit-scrollbar-track {
	background-color: var(--JL-default);
}

.sidebar::-webkit-scrollbar-thumb {
	background-color: var(--JL-default-hover);
	border-radius: 3px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
	background-color: var(--JL-default-hover-light);
}
